.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row > div {
    width: 48%; 
    min-width: 290px;
}

.btn {
    width: 33%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}