<div class="row">
  <div>
    <label class="labels">Prompt</label>
    <br />
    <input
      type="text"
      class="form-control"
      (input)="change()"
      [(ngModel)]="question.prompt"
      name="prompt"
    />

    <label class="labels">Prompt Display Time</label>
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="question.promptDisplayTime"
      (input)="change()"
      name="promptDisplayTime"
    />

    <label class="labels">Time limit</label>
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="question.timeLimit"
      name="timeLimit"
    />
  </div>
  <div>
    <mat-form-field>
      <mat-label>Correct Choice</mat-label>
      <mat-select
        (selectionChange)="onCorrectChoiceChange(question, $event)"
        [value]="question.correctChoice"
      >
        <mat-option *ngFor="let answer of answerChoices" [value]="answer">
          {{ answer }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <label class="labels">Choice A</label>
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="question.choiceA"
      name="choiceA"
    />

    <label class="labels">Choice B</label>
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="question.choiceB"
      name="choiceB"
    />

    <label class="labels">Choice C</label>
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="question.choiceC"
      name="choiceC"
    />

    <label class="labels">Choice D</label>
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="question.choiceD"
      name="choiceD"
    />
    <br />
  </div>
  <button class="btn btn-danger" (click)="delete()">Delete</button>
</div>
<br />
