.choice-button {
    border: none;
    font-size: 4rem;
    font-weight: bold;
}

.choice-button:hover {
    background-color: lightgray;
}

.a-button {
    background-color: red;
}

.b-button {
    background-color: greenyellow;
}

.c-button {
    background-color: yellow;
}

.d-button {
    background-color: aqua;
}

.choice {
    font-size: 5rem !important;
    font-weight: bold;
}

.huge {
    font-size: 5rem;
    font-weight: bold;
}

.green {
    color: #00a682;
}

.red {
    color: #bf2316;
}